@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  color: white;
  overflow: scroll;
  font-family: 'Orbitron', sans-serif;
  background-color: #1A1A1D;
}

.top-container{
  height: 40vh;
  background-image: url('/Assets/Banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#form{
  width: 600px;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#form h1{
  font-style: italic;
  text-shadow: 1px 1px darkgray;
}

#form input{
  width: 300px;
  padding: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.597);
}

#form button{
  padding: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.597);
  transition: 0.3s ease-out;
}

#form button:hover{
  color:white;
  background-color:  #950741;
  border: 1px solid  rgba(0, 0, 0, 0.252);
  transform: scale(1.05);
}

.errors{
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: black;
  background-color: #887f7f;
  border: 1px solid red;
}

.success{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: rgb(255, 255, 255);
}

#download-btn{
  margin-top: 8px;
  width: fit-content;
  color: black;
  padding: 12px;
  color: white;
  background-color: #950741;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.462);
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid rgba(0, 0, 0, 0.166);
  transition: 0.3s ease-out;
}

#download-btn:hover{
  color:black;
  background-color:  white;
  border: 1px solid  lightgray;
  transform: scale(1.05);
}

@media(max-width:768px){
  .bottom-container{
    width: 90%;
    margin: auto;
  }

  #form, .success{
    text-align: center;
    width: 100%;
  }
}

@media(max-width:480px){
  #form input{
    width: 50%;
  }
}

.about {
  margin-top: 100px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.usage {
  margin-top: 100px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

img {
  margin-top: 10px;
  border: 1px solid #000000;
}
